@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: black;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

img {
    border-radius: 50%;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 100px;
}

.profile-name {
    text-align: center;
    padding: 30px;
}

.links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 1s
}

a:hover {
    color: #000;
    background: #fff;
}

.sharelink{
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-width: 2px;
    width: 72px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

/*---------------------------------------------------------------> FOOTER */
footer {
    position: fixed;
    margin-right: auto;  
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #131313;
    color: white;
    text-align: center;
}

footer ul {
    display: flex;
    list-style-type: none;
    margin: 5px;
    padding: 15px 10px;
    overflow: hidden;
    background-color: #131313;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    flex-direction: row;
}

footer li{
    padding-right:30px;
}

footer ul li:nth-child(odd){
    display: flex;
    flex-direction: row-reverse;
    align-content: space-around;
    flex-wrap: wrap;
}
footer ul li:nth-child(even){
    display: flex;
    float: right;
    justify-content: flex-end;
}
